@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Yellowtail&display=swap");
@import "useful/reset.css";
@import "useful/variable.css";
@import "kakao-2/status-bar.css";
@import "kakao-2/welcome.css";
@import "programmer.png";
@import "kakao-3/nav-bar.css";
@import "kakao-3/screen-header.css";
@import "kakao-3/friends.css";
@import "kakao-4/tokyo.css";
@import "kakao-4/badge.css";
@import "kakao-5/watcha.css";
@import "kakao-5/find-icon.css";
@import "kakao-5/find-header.css";
@import "kakao-5/open.css";

body {
  background-color: cornflowerblue;
  font-family: "Yellowtail", cursive;
  height: 1000vh;
}
