@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  background-color: cornflowerblue;
  font-family: "Yellowtail", cursive;
}
.welcome-header {
  margin: 150px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.8;
}
