#friends-display-link {
  text-align: center;
  display: block;
  margin-top: 70px;
  font-size: 20px;
  padding: 7px 0px;
  background-color: #ffffff;
}
.fa-chevron-right {
  opacity: 0.6;
  margin-left: 12px;
}

.chats-screen {
  margin: 0px var(--friend-padding);
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.friends-screen__channel-header {
  padding-top: 9px;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.7);
}
.user-component__2 {
  color: rgba(0, 0, 0, 0.7);
}
@keyframes hiddenimage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.comment-animation {
  background-color: yellow;
  width: 220vh;
  height: 120vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  animation: hiddenimage 1s ease-in-out forwards;
  animation-delay: 1s;
}
