#friends-display-link {
  text-align: center;
  display: block;
  margin-top: 70px;
  font-size: 20px;
  padding: 7px 0px;
  background-color: #ffffff;
}
.fa-chevron-right {
  opacity: 0.6;
  margin-left: 12px;
}
