.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 10px 25px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  <!--링크의 색깔을 변하게 하는 color은 link에다가 붙여야 함.-->
}
.fa-ellipsis-h {
  padding-right: 46px;
}
.nav__modifier {
  padding-left: 52px;
}
.nav__link {
  color: #2f363e;;
  position: relative;
}
.nav__notification {
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  left: 22px;
  bottom: 17px;
  <!--.nav__notification에 flex를 적용시킨 이유는 그의 자손인 1을 가운데에 위치하기 위해 flex는 부모한테 적용시킨다.-->
  <!--말풍선이랑 1이 겹쳐지는 이유는 말풍선과 1의 기본 위치가 .nav__link를 기준으로 같기에 1에 absolute를 적용시켜 위에 위치하게 됨-->
  
}
.nav__circle {
  color: tomato;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 29px;
}
