.header-settings {
  padding-left: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
}
.header-settings__1 {
  margin-right: auto;
}
.header-settings__3 {
  margin-left: auto;
}
.header-settings__3 h2 {
  margin-left: 20px;
  margin-right: 35px;
}
.header-settings__2 span {
  font-size: 25px;
  font-weight: 600;
}
.settings-list {
  margin-top: 25px;
}
.settings-list__columns span {
  font-size: 25px;
  margin-left: 20px;
}
.settings-list__columns {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(8, 7, 87, 0.1);
}
.settings-list__columns {
  display: flex;
}
.settings-list__columns-specific {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(8, 7, 87, 0.5);
}
.settings-list__specific-opacity {
  opacity: 0.4;
}
.settings-list__specific {
  padding-bottom: 20px;
}
